* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
@media (min-width: 744px) {
  .grid {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media (min-width: 1260px) {
  .grid {
    grid-template-columns: repeat(12, 1fr);
    -webkit-column-gap: 24px;
       -moz-column-gap: 24px;
            column-gap: 24px;
  }
}
.grid--mobile-off {
  display: block;
}
@media (min-width: 744px) {
  .grid--mobile-off {
    display: grid;
  }
}
.grid__item--1-1 {
  grid-column: 1/2;
}
@media (min-width: 744px) {
  .grid__item--tablet-1-1 {
    grid-column: 1/2;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-1-1 {
    grid-column: 1/2;
  }
}
.grid__item--1-2 {
  grid-column: 1/3;
}
@media (min-width: 744px) {
  .grid__item--tablet-1-2 {
    grid-column: 1/3;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-1-2 {
    grid-column: 1/3;
  }
}
.grid__item--1-3 {
  grid-column: 1/4;
}
@media (min-width: 744px) {
  .grid__item--tablet-1-3 {
    grid-column: 1/4;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-1-3 {
    grid-column: 1/4;
  }
}
.grid__item--1-4 {
  grid-column: 1/5;
}
@media (min-width: 744px) {
  .grid__item--tablet-1-4 {
    grid-column: 1/5;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-1-4 {
    grid-column: 1/5;
  }
}
.grid__item--1-5 {
  grid-column: 1/6;
}
@media (min-width: 744px) {
  .grid__item--tablet-1-5 {
    grid-column: 1/6;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-1-5 {
    grid-column: 1/6;
  }
}
.grid__item--1-6 {
  grid-column: 1/7;
}
@media (min-width: 744px) {
  .grid__item--tablet-1-6 {
    grid-column: 1/7;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-1-6 {
    grid-column: 1/7;
  }
}
.grid__item--1-7 {
  grid-column: 1/8;
}
@media (min-width: 744px) {
  .grid__item--tablet-1-7 {
    grid-column: 1/8;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-1-7 {
    grid-column: 1/8;
  }
}
.grid__item--1-8 {
  grid-column: 1/9;
}
@media (min-width: 744px) {
  .grid__item--tablet-1-8 {
    grid-column: 1/9;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-1-8 {
    grid-column: 1/9;
  }
}
.grid__item--1-9 {
  grid-column: 1/10;
}
@media (min-width: 744px) {
  .grid__item--tablet-1-9 {
    grid-column: 1/10;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-1-9 {
    grid-column: 1/10;
  }
}
.grid__item--1-10 {
  grid-column: 1/11;
}
@media (min-width: 744px) {
  .grid__item--tablet-1-10 {
    grid-column: 1/11;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-1-10 {
    grid-column: 1/11;
  }
}
.grid__item--1-11 {
  grid-column: 1/12;
}
@media (min-width: 744px) {
  .grid__item--tablet-1-11 {
    grid-column: 1/12;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-1-11 {
    grid-column: 1/12;
  }
}
.grid__item--1-12 {
  grid-column: 1/13;
}
@media (min-width: 744px) {
  .grid__item--tablet-1-12 {
    grid-column: 1/13;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-1-12 {
    grid-column: 1/13;
  }
}
.grid__item--2-2 {
  grid-column: 2/3;
}
@media (min-width: 744px) {
  .grid__item--tablet-2-2 {
    grid-column: 2/3;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-2-2 {
    grid-column: 2/3;
  }
}
.grid__item--2-3 {
  grid-column: 2/4;
}
@media (min-width: 744px) {
  .grid__item--tablet-2-3 {
    grid-column: 2/4;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-2-3 {
    grid-column: 2/4;
  }
}
.grid__item--2-4 {
  grid-column: 2/5;
}
@media (min-width: 744px) {
  .grid__item--tablet-2-4 {
    grid-column: 2/5;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-2-4 {
    grid-column: 2/5;
  }
}
.grid__item--2-5 {
  grid-column: 2/6;
}
@media (min-width: 744px) {
  .grid__item--tablet-2-5 {
    grid-column: 2/6;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-2-5 {
    grid-column: 2/6;
  }
}
.grid__item--2-6 {
  grid-column: 2/7;
}
@media (min-width: 744px) {
  .grid__item--tablet-2-6 {
    grid-column: 2/7;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-2-6 {
    grid-column: 2/7;
  }
}
.grid__item--2-7 {
  grid-column: 2/8;
}
@media (min-width: 744px) {
  .grid__item--tablet-2-7 {
    grid-column: 2/8;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-2-7 {
    grid-column: 2/8;
  }
}
.grid__item--2-8 {
  grid-column: 2/9;
}
@media (min-width: 744px) {
  .grid__item--tablet-2-8 {
    grid-column: 2/9;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-2-8 {
    grid-column: 2/9;
  }
}
.grid__item--2-9 {
  grid-column: 2/10;
}
@media (min-width: 744px) {
  .grid__item--tablet-2-9 {
    grid-column: 2/10;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-2-9 {
    grid-column: 2/10;
  }
}
.grid__item--2-10 {
  grid-column: 2/11;
}
@media (min-width: 744px) {
  .grid__item--tablet-2-10 {
    grid-column: 2/11;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-2-10 {
    grid-column: 2/11;
  }
}
.grid__item--2-11 {
  grid-column: 2/12;
}
@media (min-width: 744px) {
  .grid__item--tablet-2-11 {
    grid-column: 2/12;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-2-11 {
    grid-column: 2/12;
  }
}
.grid__item--2-12 {
  grid-column: 2/13;
}
@media (min-width: 744px) {
  .grid__item--tablet-2-12 {
    grid-column: 2/13;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-2-12 {
    grid-column: 2/13;
  }
}
.grid__item--3-3 {
  grid-column: 3/4;
}
@media (min-width: 744px) {
  .grid__item--tablet-3-3 {
    grid-column: 3/4;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-3-3 {
    grid-column: 3/4;
  }
}
.grid__item--3-4 {
  grid-column: 3/5;
}
@media (min-width: 744px) {
  .grid__item--tablet-3-4 {
    grid-column: 3/5;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-3-4 {
    grid-column: 3/5;
  }
}
.grid__item--3-5 {
  grid-column: 3/6;
}
@media (min-width: 744px) {
  .grid__item--tablet-3-5 {
    grid-column: 3/6;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-3-5 {
    grid-column: 3/6;
  }
}
.grid__item--3-6 {
  grid-column: 3/7;
}
@media (min-width: 744px) {
  .grid__item--tablet-3-6 {
    grid-column: 3/7;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-3-6 {
    grid-column: 3/7;
  }
}
.grid__item--3-7 {
  grid-column: 3/8;
}
@media (min-width: 744px) {
  .grid__item--tablet-3-7 {
    grid-column: 3/8;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-3-7 {
    grid-column: 3/8;
  }
}
.grid__item--3-8 {
  grid-column: 3/9;
}
@media (min-width: 744px) {
  .grid__item--tablet-3-8 {
    grid-column: 3/9;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-3-8 {
    grid-column: 3/9;
  }
}
.grid__item--3-9 {
  grid-column: 3/10;
}
@media (min-width: 744px) {
  .grid__item--tablet-3-9 {
    grid-column: 3/10;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-3-9 {
    grid-column: 3/10;
  }
}
.grid__item--3-10 {
  grid-column: 3/11;
}
@media (min-width: 744px) {
  .grid__item--tablet-3-10 {
    grid-column: 3/11;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-3-10 {
    grid-column: 3/11;
  }
}
.grid__item--3-11 {
  grid-column: 3/12;
}
@media (min-width: 744px) {
  .grid__item--tablet-3-11 {
    grid-column: 3/12;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-3-11 {
    grid-column: 3/12;
  }
}
.grid__item--3-12 {
  grid-column: 3/13;
}
@media (min-width: 744px) {
  .grid__item--tablet-3-12 {
    grid-column: 3/13;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-3-12 {
    grid-column: 3/13;
  }
}
.grid__item--4-4 {
  grid-column: 4/5;
}
@media (min-width: 744px) {
  .grid__item--tablet-4-4 {
    grid-column: 4/5;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-4-4 {
    grid-column: 4/5;
  }
}
.grid__item--4-5 {
  grid-column: 4/6;
}
@media (min-width: 744px) {
  .grid__item--tablet-4-5 {
    grid-column: 4/6;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-4-5 {
    grid-column: 4/6;
  }
}
.grid__item--4-6 {
  grid-column: 4/7;
}
@media (min-width: 744px) {
  .grid__item--tablet-4-6 {
    grid-column: 4/7;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-4-6 {
    grid-column: 4/7;
  }
}
.grid__item--4-7 {
  grid-column: 4/8;
}
@media (min-width: 744px) {
  .grid__item--tablet-4-7 {
    grid-column: 4/8;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-4-7 {
    grid-column: 4/8;
  }
}
.grid__item--4-8 {
  grid-column: 4/9;
}
@media (min-width: 744px) {
  .grid__item--tablet-4-8 {
    grid-column: 4/9;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-4-8 {
    grid-column: 4/9;
  }
}
.grid__item--4-9 {
  grid-column: 4/10;
}
@media (min-width: 744px) {
  .grid__item--tablet-4-9 {
    grid-column: 4/10;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-4-9 {
    grid-column: 4/10;
  }
}
.grid__item--4-10 {
  grid-column: 4/11;
}
@media (min-width: 744px) {
  .grid__item--tablet-4-10 {
    grid-column: 4/11;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-4-10 {
    grid-column: 4/11;
  }
}
.grid__item--4-11 {
  grid-column: 4/12;
}
@media (min-width: 744px) {
  .grid__item--tablet-4-11 {
    grid-column: 4/12;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-4-11 {
    grid-column: 4/12;
  }
}
.grid__item--4-12 {
  grid-column: 4/13;
}
@media (min-width: 744px) {
  .grid__item--tablet-4-12 {
    grid-column: 4/13;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-4-12 {
    grid-column: 4/13;
  }
}
.grid__item--5-5 {
  grid-column: 5/6;
}
@media (min-width: 744px) {
  .grid__item--tablet-5-5 {
    grid-column: 5/6;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-5-5 {
    grid-column: 5/6;
  }
}
.grid__item--5-6 {
  grid-column: 5/7;
}
@media (min-width: 744px) {
  .grid__item--tablet-5-6 {
    grid-column: 5/7;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-5-6 {
    grid-column: 5/7;
  }
}
.grid__item--5-7 {
  grid-column: 5/8;
}
@media (min-width: 744px) {
  .grid__item--tablet-5-7 {
    grid-column: 5/8;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-5-7 {
    grid-column: 5/8;
  }
}
.grid__item--5-8 {
  grid-column: 5/9;
}
@media (min-width: 744px) {
  .grid__item--tablet-5-8 {
    grid-column: 5/9;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-5-8 {
    grid-column: 5/9;
  }
}
.grid__item--5-9 {
  grid-column: 5/10;
}
@media (min-width: 744px) {
  .grid__item--tablet-5-9 {
    grid-column: 5/10;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-5-9 {
    grid-column: 5/10;
  }
}
.grid__item--5-10 {
  grid-column: 5/11;
}
@media (min-width: 744px) {
  .grid__item--tablet-5-10 {
    grid-column: 5/11;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-5-10 {
    grid-column: 5/11;
  }
}
.grid__item--5-11 {
  grid-column: 5/12;
}
@media (min-width: 744px) {
  .grid__item--tablet-5-11 {
    grid-column: 5/12;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-5-11 {
    grid-column: 5/12;
  }
}
.grid__item--5-12 {
  grid-column: 5/13;
}
@media (min-width: 744px) {
  .grid__item--tablet-5-12 {
    grid-column: 5/13;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-5-12 {
    grid-column: 5/13;
  }
}
.grid__item--6-6 {
  grid-column: 6/7;
}
@media (min-width: 744px) {
  .grid__item--tablet-6-6 {
    grid-column: 6/7;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-6-6 {
    grid-column: 6/7;
  }
}
.grid__item--6-7 {
  grid-column: 6/8;
}
@media (min-width: 744px) {
  .grid__item--tablet-6-7 {
    grid-column: 6/8;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-6-7 {
    grid-column: 6/8;
  }
}
.grid__item--6-8 {
  grid-column: 6/9;
}
@media (min-width: 744px) {
  .grid__item--tablet-6-8 {
    grid-column: 6/9;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-6-8 {
    grid-column: 6/9;
  }
}
.grid__item--6-9 {
  grid-column: 6/10;
}
@media (min-width: 744px) {
  .grid__item--tablet-6-9 {
    grid-column: 6/10;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-6-9 {
    grid-column: 6/10;
  }
}
.grid__item--6-10 {
  grid-column: 6/11;
}
@media (min-width: 744px) {
  .grid__item--tablet-6-10 {
    grid-column: 6/11;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-6-10 {
    grid-column: 6/11;
  }
}
.grid__item--6-11 {
  grid-column: 6/12;
}
@media (min-width: 744px) {
  .grid__item--tablet-6-11 {
    grid-column: 6/12;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-6-11 {
    grid-column: 6/12;
  }
}
.grid__item--6-12 {
  grid-column: 6/13;
}
@media (min-width: 744px) {
  .grid__item--tablet-6-12 {
    grid-column: 6/13;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-6-12 {
    grid-column: 6/13;
  }
}
.grid__item--7-7 {
  grid-column: 7/8;
}
@media (min-width: 744px) {
  .grid__item--tablet-7-7 {
    grid-column: 7/8;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-7-7 {
    grid-column: 7/8;
  }
}
.grid__item--7-8 {
  grid-column: 7/9;
}
@media (min-width: 744px) {
  .grid__item--tablet-7-8 {
    grid-column: 7/9;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-7-8 {
    grid-column: 7/9;
  }
}
.grid__item--7-9 {
  grid-column: 7/10;
}
@media (min-width: 744px) {
  .grid__item--tablet-7-9 {
    grid-column: 7/10;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-7-9 {
    grid-column: 7/10;
  }
}
.grid__item--7-10 {
  grid-column: 7/11;
}
@media (min-width: 744px) {
  .grid__item--tablet-7-10 {
    grid-column: 7/11;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-7-10 {
    grid-column: 7/11;
  }
}
.grid__item--7-11 {
  grid-column: 7/12;
}
@media (min-width: 744px) {
  .grid__item--tablet-7-11 {
    grid-column: 7/12;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-7-11 {
    grid-column: 7/12;
  }
}
.grid__item--7-12 {
  grid-column: 7/13;
}
@media (min-width: 744px) {
  .grid__item--tablet-7-12 {
    grid-column: 7/13;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-7-12 {
    grid-column: 7/13;
  }
}
.grid__item--8-8 {
  grid-column: 8/9;
}
@media (min-width: 744px) {
  .grid__item--tablet-8-8 {
    grid-column: 8/9;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-8-8 {
    grid-column: 8/9;
  }
}
.grid__item--8-9 {
  grid-column: 8/10;
}
@media (min-width: 744px) {
  .grid__item--tablet-8-9 {
    grid-column: 8/10;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-8-9 {
    grid-column: 8/10;
  }
}
.grid__item--8-10 {
  grid-column: 8/11;
}
@media (min-width: 744px) {
  .grid__item--tablet-8-10 {
    grid-column: 8/11;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-8-10 {
    grid-column: 8/11;
  }
}
.grid__item--8-11 {
  grid-column: 8/12;
}
@media (min-width: 744px) {
  .grid__item--tablet-8-11 {
    grid-column: 8/12;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-8-11 {
    grid-column: 8/12;
  }
}
.grid__item--8-12 {
  grid-column: 8/13;
}
@media (min-width: 744px) {
  .grid__item--tablet-8-12 {
    grid-column: 8/13;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-8-12 {
    grid-column: 8/13;
  }
}
.grid__item--9-9 {
  grid-column: 9/10;
}
@media (min-width: 744px) {
  .grid__item--tablet-9-9 {
    grid-column: 9/10;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-9-9 {
    grid-column: 9/10;
  }
}
.grid__item--9-10 {
  grid-column: 9/11;
}
@media (min-width: 744px) {
  .grid__item--tablet-9-10 {
    grid-column: 9/11;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-9-10 {
    grid-column: 9/11;
  }
}
.grid__item--9-11 {
  grid-column: 9/12;
}
@media (min-width: 744px) {
  .grid__item--tablet-9-11 {
    grid-column: 9/12;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-9-11 {
    grid-column: 9/12;
  }
}
.grid__item--9-12 {
  grid-column: 9/13;
}
@media (min-width: 744px) {
  .grid__item--tablet-9-12 {
    grid-column: 9/13;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-9-12 {
    grid-column: 9/13;
  }
}
.grid__item--10-10 {
  grid-column: 10/11;
}
@media (min-width: 744px) {
  .grid__item--tablet-10-10 {
    grid-column: 10/11;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-10-10 {
    grid-column: 10/11;
  }
}
.grid__item--10-11 {
  grid-column: 10/12;
}
@media (min-width: 744px) {
  .grid__item--tablet-10-11 {
    grid-column: 10/12;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-10-11 {
    grid-column: 10/12;
  }
}
.grid__item--10-12 {
  grid-column: 10/13;
}
@media (min-width: 744px) {
  .grid__item--tablet-10-12 {
    grid-column: 10/13;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-10-12 {
    grid-column: 10/13;
  }
}
.grid__item--11-11 {
  grid-column: 11/12;
}
@media (min-width: 744px) {
  .grid__item--tablet-11-11 {
    grid-column: 11/12;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-11-11 {
    grid-column: 11/12;
  }
}
.grid__item--11-12 {
  grid-column: 11/13;
}
@media (min-width: 744px) {
  .grid__item--tablet-11-12 {
    grid-column: 11/13;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-11-12 {
    grid-column: 11/13;
  }
}
.grid__item--12-12 {
  grid-column: 12/13;
}
@media (min-width: 744px) {
  .grid__item--tablet-12-12 {
    grid-column: 12/13;
  }
}
@media (min-width: 1260px) {
  .grid__item--desktop-12-12 {
    grid-column: 12/13;
  }
}

.icon {
  display: block;
  height: 24px;
  width: 24px;
}
@media (min-width: 744px) {
  .icon {
    height: 32px;
    width: 32px;
  }
}
.icon--phone {
  position: relative;
  background-image: url(/src/images/svg/icon-phone.svg);
}
.icon--phone::before {
  content: "+1 234 555-55-55";
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%);
  padding: 0 16px 0 0;
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: #292929;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 2px;
  pointer-events: none;
  opacity: 0;
}
@media (min-width: 1260px) {
  .icon--phone:hover::before {
    pointer-events: all;
    opacity: 1;
  }
}
.icon--burger {
  background-image: url(/src/images/svg/icon-burger.svg);
}
.icon--burger:hover {
  background-image: url(/src/images/svg/icon-burger-hover.svg);
}
.icon--cross {
  background-image: url(/src/images/svg/icon-cross.svg);
}

.menu {
  height: 100vh;
  background-color: #e8eff9;
  font-weight: 700;
  text-transform: uppercase;
}
.menu__content {
  padding: 0 20px 40px 20px;
}
.menu__top {
  margin-bottom: 32px;
}
.menu__nav {
  margin: 0 0 40px 0;
}
.menu__call-to-order {
  padding: 0 0 7px 0;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: inherit;
  font-size: 16px;
  line-height: 27px;
  border-bottom: 1px solid #292929;
}
.menu__phone-number {
  margin: 0 0 16px 0;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: inherit;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
}

.page {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 140%;
  scroll-behavior: smooth;
}
.page__body {
  margin: 0;
}
.page__menu {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  pointer-events: none;
}
.page__menu:target {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  pointer-events: all;
}

.top-bar {
  padding: 24px 20px 24px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.top-bar__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header {
  background-image: url(/src/images/main-images/image-header.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__content {
  padding: 0 20px 40px 20px;
}
.header__container-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}
.header__waves {
  margin: 0 0 16px 0;
  height: 57px;
  width: 48px;
  background-image: url(/src/images/svg/sound-waves.svg);
}
@media (min-width: 744px) {
  .header__waves {
    margin: 0 0 32px 0;
    width: 63px;
    height: 76px;
    background-repeat: no-repeat;
  }
}
.header__title {
  color: #292929;
  font-size: 32px;
  font-style: italic;
  font-weight: 800;
  line-height: 100%;
  letter-spacing: -1.5px;
}
@media (min-width: 744px) {
  .header__title {
    font-size: 48px;
  }
}

.logo {
  width: 125px;
  height: 16px;
}
@media (min-width: 744px) {
  .logo {
    width: 188px;
    height: 24px;
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}
.nav__link {
  color: inherit;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 2px;
  padding-bottom: 8px;
  border-bottom: 1px solid #e8eff9;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.nav__link:hover {
  border-bottom: 1px solid #292929;
}

.section {
  padding: 64px 0 64px 0;
}
.section__title {
  margin: 0 auto 48px auto;
  color: #292929;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -1.5px;
  width: 280px;
}
@media (min-width: 744px) {
  .section__title {
    line-height: 100%;
    font-size: 40px;
    width: 392px;
  }
}
@media (min-width: 1260px) {
  .section__title {
    font-size: 48px;
    width: 498px;
  }
}

.container {
  margin: 0 auto;
  padding: 0 20px 0 20px;
  width: 100%;
  max-width: 740px;
}
@media (min-width: 744px) {
  .container {
    max-width: 1260px;
  }
}

.recommended__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 1260px) {
  .recommended__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.recommended__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.recommended__list:not(:last-child) {
  margin: 0 0 40px 0;
}
@media (min-width: 1260px) {
  .recommended__list:not(:last-child) {
    margin: 0 24px 0 0;
  }
}
.recommended__item {
  color: #292929;
  font-size: 16px;
  font-weight: 700;
  line-height: 140%;
}
.recommended__photo {
  display: block;
  margin: 0 0 32px 0;
  height: 280px;
  width: 280px;
}
@media (min-width: 744px) {
  .recommended__photo {
    width: 392px;
    height: 392px;
  }
}
@media (min-width: 1260px) {
  .recommended__photo {
    width: 324px;
    height: 324px;
  }
}
.recommended__title {
  margin: 0 0 8px 0;
}
.recommended__name-product {
  margin: 0 0 12px 0;
  font-weight: 400;
}

.categories__photo-container {
  position: relative;
  width: 100%;
  max-height: 130px;
  margin-bottom: 16px;
  overflow: hidden;
}
@media (min-width: 744px) {
  .categories__photo-container {
    max-height: 184px;
  }
}
@media (min-width: 1260px) {
  .categories__photo-container {
    max-height: 324px;
  }
}
.categories__photo-container::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.categories__photo {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.categories__text {
  margin: 0 0 40px 0;
  color: #292929;
  font-size: 16px;
  font-weight: 700;
  line-height: 140%;
}
@media (min-width: 744px) {
  .categories__text {
    margin: 0 0 64px 0;
  }
}

.how-to-buy__text {
  color: #292929;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
}
.how-to-buy--bold {
  line-height: 140%;
  font-weight: 700;
  margin-bottom: 16px;
}
.how-to-buy--bold:nth-last-of-type(2) {
  margin-bottom: 40px;
}
.how-to-buy__title {
  width: 280px;
  text-align: left;
  margin: 0 0 32px 0;
}
@media (min-width: 744px) {
  .how-to-buy__title {
    width: 287px;
    margin: 0;
  }
}
@media (min-width: 1260px) {
  .how-to-buy__title {
    width: 411px;
  }
}

.contacts__input {
  display: block;
  padding: 14px 16px 14px 16px;
  border-radius: 40px;
  border: 1px solid #f8f8fa;
  background: #f8f8fa;
  margin-bottom: 16px;
  width: 100%;
  outline: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (min-width: 744px) {
  .contacts__input {
    max-width: 288px;
  }
}
@media (min-width: 1260px) {
  .contacts__input {
    max-width: 411px;
  }
}
.contacts__input::-webkit-input-placeholder {
  color: #7e7e83;
  font-size: 14px;
  line-height: 20px;
}
.contacts__input::-moz-placeholder {
  color: #7e7e83;
  font-size: 14px;
  line-height: 20px;
}
.contacts__input:-ms-input-placeholder {
  color: #7e7e83;
  font-size: 14px;
  line-height: 20px;
}
.contacts__input::-ms-input-placeholder {
  color: #7e7e83;
  font-size: 14px;
  line-height: 20px;
}
.contacts__input::placeholder {
  color: #7e7e83;
  font-size: 14px;
  line-height: 20px;
}
.contacts__input:hover::-webkit-input-placeholder, .contacts__input:focus::-webkit-input-placeholder {
  color: #292929;
}
.contacts__input:hover::-moz-placeholder, .contacts__input:focus::-moz-placeholder {
  color: #292929;
}
.contacts__input:hover:-ms-input-placeholder, .contacts__input:focus:-ms-input-placeholder {
  color: #292929;
}
.contacts__input:hover::-ms-input-placeholder, .contacts__input:focus::-ms-input-placeholder {
  color: #292929;
}
.contacts__input:hover::placeholder, .contacts__input:focus::placeholder {
  color: #292929;
}
.contacts__input:hover {
  border: 1px solid #d5d7de;
}
.contacts__input:focus {
  border: 1px solid #292929;
}
.contacts__message {
  font-family: inherit;
  margin-bottom: 32px;
  resize: none;
  height: 120px;
}
.contacts__text {
  margin: 0 0 8px 0;
  color: #9fadc2;
  font-size: 14px;
  line-height: 140%;
}
.contacts__address-link {
  display: block;
  color: #3e3e3e;
  font-size: 16px;
  line-height: 140%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.contacts__address-link:not(:last-of-type) {
  margin: 0 0 24px 0;
}

.footer {
  height: 200px;
  width: 100%;
  background-image: url(/src/images/main-images/image-footer.jpg);
  background-position: center top;
  background-size: cover;
}
@media (min-width: 744px) {
  .footer {
    height: 400px;
  }
}
@media (min-width: 1260px) {
  .footer {
    height: 510px;
  }
}

.button {
  display: block;
  background: none;
  cursor: pointer;
}
.button-primary {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  width: 100%;
  max-width: 100%;
  height: 56px;
  text-align: center;
  border-radius: 40px;
  background: #292929;
  border: 3px solid #292929;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.button-primary:hover {
  background: #fff;
  color: #292929;
}
.button-primary:active {
  background: #111;
  color: #fff;
}
@media (min-width: 744px) {
  .button-primary {
    margin: 0 auto;
    width: 296px;
  }
}
@media (min-width: 1260px) {
  .button-primary {
    width: 228px;
  }
}
.button-contacts {
  margin: 0;
}
@media (min-width: 1260px) {
  .button-contacts {
    width: 100%;
    max-width: 411px;
  }
}/*# sourceMappingURL=main.css.map */