* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.icon {
  display: block;
  height: 24px;
  width: 24px;
}
.icon--phone {
  background-image: url(/src/images/svg/icon-phone.svg);
}
.icon--burger {
  background-image: url(/src/images/svg/icon-burger.svg);
}
.icon--cross {
  background-image: url(/src/images/svg/icon-cross.svg);
}

.menu {
  height: 100vh;
  background-color: #e8eff9;
  font-weight: 700;
  text-transform: uppercase;
}
.menu__content {
  padding: 0 20px 40px 20px;
}
.menu__top {
  margin-bottom: 32px;
}
.menu__nav {
  margin: 0 0 40px 0;
}
.menu__call-to-order {
  padding: 0 0 7px 0;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: inherit;
  font-size: 16px;
  line-height: 27px;
  border-bottom: 1px solid #292929;
}
.menu__phone-number {
  margin: 0 0 16px 0;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: inherit;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
}

.page {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 140%;
  scroll-behavior: smooth;
}
.page__body {
  margin: 0;
}
.page__menu {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
}
.page__menu:target {
  opacity: 1;
  pointer-events: all;
}

.top-bar {
  padding: 24px 20px 24px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.top-bar__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header {
  background-image: url(/src/images/main-images/image-header.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__content {
  padding: 0 20px 40px 20px;
}
.header__container-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}
.header__waves {
  margin: 0 0 16px 0;
  height: 57px;
  width: 48px;
  background-image: url(/src/images/svg/sound-waves.svg);
}
.header__title {
  color: #292929;
  font-size: 32px;
  font-style: italic;
  font-weight: 800;
  line-height: 100%;
  letter-spacing: -1.5px;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}
.nav__link {
  color: inherit;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 2px;
}/*# sourceMappingURL=main.css.map */