* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.icon {
  display: block;
  height: 24px;
  width: 24px;
}
@media (min-width: 744px) {
  .icon {
    height: 32px;
    width: 32px;
  }
}
.icon--phone {
  position: relative;
  background-image: url(/src/images/svg/icon-phone.svg);
}
.icon--phone::before {
  content: "+1 234 555-55-55";
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%);
  padding: 0 16px 0 0;
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: #292929;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 2px;
  pointer-events: none;
  opacity: 0;
}
@media (min-width: 1260px) {
  .icon--phone:hover::before {
    pointer-events: all;
    opacity: 1;
  }
}
.icon--burger {
  background-image: url(/src/images/svg/icon-burger.svg);
}
.icon--burger:hover {
  background-image: url(/src/images/svg/icon-burger-hover.svg);
}
.icon--cross {
  background-image: url(/src/images/svg/icon-cross.svg);
}

.menu {
  height: 100vh;
  background-color: #e8eff9;
  font-weight: 700;
  text-transform: uppercase;
}
.menu__content {
  padding: 0 20px 40px 20px;
}
.menu__top {
  margin-bottom: 32px;
}
.menu__nav {
  margin: 0 0 40px 0;
}
.menu__call-to-order {
  padding: 0 0 7px 0;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: inherit;
  font-size: 16px;
  line-height: 27px;
  border-bottom: 1px solid #292929;
}
.menu__phone-number {
  margin: 0 0 16px 0;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: inherit;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
}

.page {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 140%;
  scroll-behavior: smooth;
}
.page__body {
  margin: 0;
}
.page__menu {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  pointer-events: none;
}
.page__menu:target {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  pointer-events: all;
}

.top-bar {
  padding: 24px 20px 24px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.top-bar__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header {
  background-image: url(/src/images/main-images/image-header.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__content {
  padding: 0 20px 40px 20px;
}
.header__container-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}
.header__waves {
  margin: 0 0 16px 0;
  height: 57px;
  width: 48px;
  background-image: url(/src/images/svg/sound-waves.svg);
}
@media (min-width: 744px) {
  .header__waves {
    margin: 0 0 32px 0;
    width: 63px;
    height: 76px;
    background-repeat: no-repeat;
  }
}
.header__title {
  color: #292929;
  font-size: 32px;
  font-style: italic;
  font-weight: 800;
  line-height: 100%;
  letter-spacing: -1.5px;
}
@media (min-width: 744px) {
  .header__title {
    font-size: 48px;
  }
}

.logo {
  width: 125px;
  height: 16px;
}
@media (min-width: 744px) {
  .logo {
    width: 188px;
    height: 24px;
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}
.nav__link {
  color: inherit;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 2px;
}

.section {
  padding: 64px 0 64px 0;
}
.section__title {
  margin: 0 0 48px 0;
  color: #292929;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -1.5px;
}
@media (min-width: 744px) {
  .section__title {
    line-height: 100%;
    font-size: 40px;
  }
}
@media (min-width: 1260px) {
  .section__title {
    font-size: 48px;
  }
}

.container {
  margin: 0 auto;
  padding: 0 20px 0 20px;
  width: 100%;
  max-width: 320px;
}
@media (min-width: 744px) {
  .container {
    max-width: 744px;
  }
}
@media (min-width: 1260px) {
  .container {
    max-width: 1260px;
  }
}

.recommended__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 1260px) {
  .recommended__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.recommended__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.recommended__list:not(:last-child) {
  margin: 0 0 40px 0;
}
@media (min-width: 1260px) {
  .recommended__list:not(:last-child) {
    margin: 0 24px 0 0;
  }
}
.recommended__item {
  color: #292929;
  font-size: 16px;
  font-weight: 700;
  line-height: 140%;
}
.recommended__photo {
  display: block;
  margin: 0 0 32px 0;
  height: 280px;
  width: 280px;
}
@media (min-width: 744px) {
  .recommended__photo {
    width: 392px;
    height: 392px;
  }
}
@media (min-width: 1260px) {
  .recommended__photo {
    width: 324px;
    height: 324px;
  }
}
.recommended__title {
  margin: 0 0 8px 0;
}
.recommended__name-product {
  margin: 0 0 12px 0;
  font-weight: 400;
}/*# sourceMappingURL=main.css.map */