.header {
  background-image: url(/src/images/main-images/image-header.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__content {
    padding: 0 20px 40px 20px;
  }

  &__container-icons {
    display: flex;
    gap: 24px;
  }

  &__waves {
    margin: 0 0 16px 0;
    height: 57px;
    width: 48px;
    background-image: url(/src/images/svg/sound-waves.svg);

    @include onTablet {
      margin: 0 0 32px 0;
      width: 63px;
      height: 76px;
      background-repeat: no-repeat;
    }
  }

  &__title {
    color: $text-black-color;
    font-size: 32px;
    font-style: italic;
    font-weight: 800;
    line-height: 100%;
    letter-spacing: -1.5px;

    @include onTablet {
      font-size: 48px;
    }
  }
}
